body {
    background: whitesmoke;
}
.start-todo {
}
.todo-new {
    width: 100%;
    position: fixed;
    bottom: -5px;
}

.todo-list {
    margin-top: 57px;
    width: 100%;
   margin-bottom: 82px;
}